 <%- include('./partials/header'); -%>

<div class="container">
	<div class="jumbotron">
  		<div class="container">
  			<h1 class="display-4">
  				Hello,
  				<% if(user=="admin"){%>
  					Admin
  				<%}else{%>
  					Receiptionist <%=user%>
  				<%}%>
  			</h1>
  			<hr class="my-4">
  			
		</div>
	</div>
  
  <canvas id="chartjs-4" class="chartjs" width="278" height="139" style="display: block; width: 278px; height: 139px;"></canvas>
  <script>
  new Chart(document.getElementById("chartjs-4"),
  {"type":"pie",
    "data":{"labels":["Doctor","Patient"],
            "datasets":[{"label":"My First Dataset",
                         "data":[<%=DocCount%>,<%=PatCount%>],
                         "backgroundColor":["rgb(255, 99, 132)","rgb(54, 162, 235)"]
                         }]
            }
  });
  </script>
  <canvas id="chartjs-1" class="chartjs" width="272" height="136" style="display: block; width: 272px; height: 136px;"></canvas>



    <script>
    
    var arr=["<%=DocName[0]%>","<%=DocName[1]%>","<%=DocName[2]%>","<%=DocName[3]%>","<%=DocName[4]%>","<%=DocName[5]%>","<%=DocName[6]%>","<%=DocName[7]%>"];
    new Chart(document.getElementById("chartjs-1"),
    {"type":"bar",
     "data":{"labels":arr,
     "datasets":[{
                    "label":"Appointments per Doctor",
                    "data":[4,5,3,0,1],
                    "fill":false,
                    "backgroundColor":[
                                        "rgba(255, 99, 132, 0.2)",
                                        "rgba(255, 159, 64, 0.2)",
                                        "rgba(255, 205, 86, 0.2)",
                                        "rgba(75, 192, 192, 0.2)",
                                        "rgba(54, 162, 235, 0.2)",
                                        "rgba(153, 102, 255, 0.2)",
                                        "rgba(201, 203, 207, 0.2)"
                                      ],
                    "borderColor":[
                                        "rgb(255, 99, 132)",
                                        "rgb(255, 159, 64)",
                                        "rgb(255, 205, 86)",
                                        "rgb(75, 192, 192)",
                                        "rgb(54, 162, 235)",
                                        "rgb(153, 102, 255)",
                                        "rgb(201, 203, 207)"
                                   ],
                    "borderWidth":1}]},
    "options":{"scales":{"yAxes":[{"ticks":{"beginAtZero":true}}]}}});</script>

</div>
</body>
 <%- include('./partials/footer'); -%>